@page
@model la_mia_pizzeria_static.Views.Shared.FooterModel
@{

    @* footer *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Blaser993 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}
