@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>
        1. Dichiarare una variabile valorizzandola con il nostro nome.
        Dichiarare un'altra variabile valorizzandola con il nostro cognome.
        Stampare il nostro nome e cognome all'interno di un tag h2
    </p>

    @{
        string mioNome = "Corrado";
        string mioCognome = "de Pinto";
    }

    <h2>
        @mioNome @mioCognome
    </h2>


    <p>
        2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
        Stampare dentro uno span il risultato.
    </p>

    @{
        int Somma(int n){


            int totale = 0;

            for(int i=1; i <= n; i++)
            {
                
                totale += i;

            }
            return totale;
            
        }
    }

    <h2>@Somma(3)</h2>

    <p>
        3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
    </p>

    @{
        int ContaAInFrase(string frase){

            string[] parole = frase.Split(' ');
            int count = 0;

            foreach (string parola in parole)
            {
                if (parola.Contains("a"))
                {
                    foreach (char carattere in parola)
                    {
                        if (carattere == 'a')
                        {
                            count++;
                        }
                    }
                }
            }

            return count;
        }
    }

    <h2>
        @ContaAInFrase("nel mezzo del cammin di nostra vita")
    </h2>

    <p>
        4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
    </p>

    @{
        List<int> numeriCasuali = GeneraNumeriCasuali(20, 1, 90);

        // Stampa i numeri generati

        static List<int> GeneraNumeriCasuali(int quantita, int minimo, int massimo)
        {
            List<int> numeriCasuali = new List<int>();
            Random random = new Random();

            for (int i = 0; i < quantita; i++)
            {
                int numeroCasuale = random.Next(minimo, massimo + 1);
                numeriCasuali.Add(numeroCasuale);
            }

            return numeriCasuali;
        }
    }

    <h2>
        @foreach(int numero in numeriCasuali)
        {
            if (numero >= 20 && numero <= 70 )
            {
                <span>@numero</span>
            }
        }
    </h2>

    <p>
        5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
    </p>


    <p>
        6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina <br />
        a. la data di 7 giorni fa <br />
        b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...) <br />
        c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
    </p>
</div>
