@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Margherita</td>
            <td>La classica pizza Margherita è una deliziosa combinazione di pomodoro fresco, mozzarella di bufala, basilico e olio d'oliva extravergine su una crosta sottile e croccante. È un'esplosione di sapori italiani in ogni morso.</td>
            <td>
                <img class="pizza" src="~/img/margherita.jpg" />
            </td>
            <td>10 €</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Quattro formaggi</td>
            <td>La pizza Quattro Formaggi è una festa per gli amanti del formaggio. Questa pizza è coperta da una miscela di quattro formaggi prelibati: mozzarella, gorgonzola, provolone e parmigiano-reggiano. Una scelta irresistibile per i palati più golosi.</td>
            <td>
                <img class="pizza" src="~/img/quattro formaggi.jpg" />
            </td>
            <td>12 €</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Vegetariana</td>
            <td>La pizza Vegetariana è una scelta salutare e deliziosa per i non carnivori. Questa pizza è carica di verdure fresche come peperoni, cipolle, pomodori, funghi e olive nere, il tutto coperto da una generosa porzione di formaggio mozzarella.</td>
            <td>
                <img class="pizza" src="~/img/vegetariana.jpg" />
            </td>
            <td>11 €</td>
        </tr>
    </tbody>
</table>
